<a href="https://colab.research.google.com/github/jklayhew/DATA-433/blob/main/Week2-Weekday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

adult = pd.read_csv("https://raw.githubusercontent.com/jklayhew/DATA-433/main/adult.data.simplified%20(1).csv", encoding="ISO-8859-1")

#adult
# print(adult.head(5)) #--prints first 5
# print(adult.tail(7)) #--prints last 7

df = pd.DataFrame(adult) #--Defines dataframe

#df.select_dtypes('O') #-- show all columns with string values
#df.select_dtypes('int') # -- show all columns with whole numbers
#df.select_dtypes('float64') #-- show all columns with floating point values
#df.select_dtypes('bool') #-- show all columns with 'True" or False" values

# df.dropna(inplace = True) #deletes empty rows/missing data
# result = df.empty
 
# Print the result
# print(result)
#adult.count() #-- Total number of items
#adult.min() #-- minimum
# adult.max() -- maximum
# adult.mean() --mean
# adult.median() --median 
# adult.mean() --mean
#adult.sum() #-- Sum of all items
# adult.std() --Standard deviation
# adult.var() -- variance

#adult.age.sum() #--finds mean for age attribute
# adult.age.median() #--finds median for age attribute

#adult.describe(include='all') #the easiest way to produce a 5-number summary

#adult.describe() #--just numeric attributes
#adult.describe(include=['O']) #--just object attributes

#adult.relationship.describe() #--produces just age summary
#adult.education.describe() #--produces just education summary

# Using groupby to aggregate the data by one of the attributes, here sex.
# All this produces is another object, not something that's really useful to us.
#adult.groupby(['sex'])

#dult.select_dtypes('int')
# We can see how often an attribute value appears in all columns, for example, "sex"
# adult.groupby(['race']).count()


# Let's use groupby with an aggregating function
# adult.groupby(['sex']).sum()


# Let's use groupby with another aggregating function because WHOA! Interesting results!
# Let's add more columns to the array!
# adult.groupby(['educationyears','sex']).median()


# Using the simple pandas boxplot function. As you will see, the y axis for income put the plot out of proportion
# adult.boxplot()


# Let's look at just age and education years
# adult.boxplot(['age','educationyears'])


# What if we look at age by education?
# adult.boxplot(column='age',by='education')


# Matplotlib uses fig and ax and allows you more control over the formatting of the plot
# fig1, ax1 = plt.subplots() #--uncomment
# ax1.set_title('Basic Plot') #--uncomment
# ax1.boxplot(adult.age) #--uncomment
# ax1.boxplot(adult.age, notch=True)  # Shows a notch around the median
# ax1.bloxplot(adult.age, notch=True, showfliers=False)  # Removes the outliers


# Make the outliers pretty
# green_diamond = dict(markerfacecolor='g', marker='D') #--uncomment
# fig2, ax2 = plt.subplots() #--uncomment
# ax2.set_title('Changed Outlier Symbols') #--uncomment
# ax2.boxplot(adult.age, flierprops=green_diamond) #--uncomment


#Flip the plot
# red_square = dict(markerfacecolor='r', marker='s') #--uncomment
# fig3, ax3 = plt.subplots() #--uncomment
# ax3.set_title('Horizontal Boxes') #--uncomment
# ax3.boxplot(adult.age, vert=False, flierprops=red_square) #--uncomment

# The simplest histogram--plt.hist divides the range into 10 even bins for easier plotting. 
# The output shows how the bin cutoffs were set. The long form of writing this would be plt.hist(adult.age); the short form works, too
# adult.age.hist()



# The humber of bins can be adjusted. Here, we are setting bins of 20 and labeling x and y, along with titling the plot.
# plt.hist(adult.age,bins=20)
# plt.ylabel('Count')
# plt.xlabel('age')
# plt.title('Age Plot')
# plt.show()

# We can show all the numeric categories really easily
# adult.hist()


# And we can subdivide the categories by another, just like the hierarchical groupby you have seen above. 
# adult.hist(column='age',by='education')



# Setting up the x and y axes of the plot
# x = adult[('age')]
# y = adult[('education')]

# Building the plot with red outlines for better visibility
# plt.scatter(x, y, edgecolors='r')

# NO PLOT WITHOUT LABELS AND TITLE--EVER!!!!!!!
# plt.xlabel('Content of x axis (age)')
# plt.ylabel('Content of y axis (education)')
# plt.title('This is the plot title (Age vs Education')
# plt.show()

adult.describe(include='all')

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
count,32561.000000,32561,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561,32561.000000
unique,NaN,9,16,NaN,7,15,6,5,2,NaN,42,NaN
top,NaN,Private,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,United-States,NaN
freq,NaN,22696,10501,NaN,14976,4140,13193,27816,21790,NaN,29170,NaN
mean,38.581647,NaN,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,40.437456,NaN,56583.900587
std,13.640433,NaN,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,12.347429,NaN,44374.594314
min,17.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,20002.000000
25%,28.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,29994.000000
50%,37.000000,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,39732.000000
75%,48.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,49631.000000
max,90.000000,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99.000000,NaN,199965.000000